/* FEEL FREE TO ADD STYLING */
:root {
  --bg: #dfdfdf;
  --primary: #3182a6;
  --danger: #ef5350;
  --white: #fff;
  --light-grey: #B0B0B0;
  --hint-grey: #EFEFEF;
  --primary-gradient: linear-gradient(166.21deg, #2a8c92 2.56%, #347bb2 122.3%);
  --s-border-radius: 3px;
  --l-border-radius: 8px;
  --base-font: 16px;
  --font: 'Roboto', sans-serif;
  --drop-shadow: 0px 4px 12px rgba(42, 101, 146, 0.4);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  font-family: var(--font);
}

section#game_canvas {
  width: 300px;
}

header #timer {
  font-size: 2.5rem;
  text-indent: 2rem;
  color: #fff;
  flex-grow: 1;
}
header #timer.running {
  color: lightgreen;
}
header #timer.gameover {
  color: var(--danger);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
  margin-bottom: 20px;
}

.header_button {
  background: var(--primary-gradient);
  width: 110px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--s-border-radius);
  color: white;
  border: 0;
  font-size: 0.9rem;
}

.header_button_start {
  box-shadow: var(--drop-shadow);
}

.header_button:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}

.header_button:active {
  background-color: var(--primary);
}

.header_button--danger {
  color: var(--danger);
  background: none;
}

.header_button--danger:hover {
  background: var(--danger);
  color: var(--white);
}

.header_button:disabled {
  background: var(--light-grey);
  box-shadow: none;
  transition: all 1s;
}

.rhyme_card {
  background: var(--primary-gradient);
  height: 350px;
  border-radius: var(--l-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
  box-shadow: var(--drop-shadow);
}

.rhyme_card.correct {
  animation: shake 0.72s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  background-color: lightgreen;
}

.rhyme_card.incorrect {
  animation: shake 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  background-color: var(--danger);
}

.rhyme {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 20px;
  color: var(--white)
}

.rhyme_count_container {
  width: 100%;
  transition: all 1s;
  justify-content: flex-end;
}

.rhyme_count {
  padding: 10px 20px;
  background-color: var(--white);
  border-top-right-radius: var(--l-border-radius);
  border-bottom-left-radius: var(--l-border-radius);
  color: var(--primary);
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

.rhyme_count.correct {
  background-color: green;
}

.rhyme_count.incorrect {
  background-color: var(--danger);
  color: var(--white);
}

.rhyme_count span {
  margin-left: 10px;
}

#rhyme_guess {
  font-size: .9rem;
  text-align: center;
  border: none;
  outline: none;
  transition: all 1s;
}

#rhyme_guess.correct {
  background-color: lightgreen;
}

#rhyme_guess.incorrect {
  background-color: var(--danger);
  color: var(--white);
}

.card_info_outer {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}

.card_info {
  background: var(--white);
  justify-content: space-evenly;
  flex-direction: column;
  height: 67px;
  position: relative;
  border-bottom-right-radius: var(--l-border-radius);
  border-bottom-left-radius: var(--l-border-radius);
}

.card_info_input {
  width: 100%;
  justify-content: space-around;
}

#incorrect {
  font-size: 15px;
  text-align: center;
  border: none;
  outline: none;
  color: var(--light-grey);
}

#hint {
  height: 25px;
  color: var(--primary);
  background-color: var(--hint-grey);
  font-size: 15px;
  text-align: center;
  border: none;
  outline: none;
}

#timer {
  width: 40px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primary);
  color: var(--white);
  border-top-left-radius: var(--l-border-radius);
  border-bottom-right-radius: var(--l-border-radius);
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -2px, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 3px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, -3px, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 3px, 0);
  }
}
