/* FEEL FREE TO ADD STYLING */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}



header {
  background-color: #2a6592;
  background-image: linear-gradient(to bottom right, white, blue); 
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  color: white;
  opacity: 0.9;
  font-size: 20px;
  border: 1px solid white;
  padding: 15px;
  padding-right: 18px;  
  width: 50px;
  text-align: center;
  margin-right: 15px;
  border-radius: 6px;
}

li:hover {
  cursor: pointer;
  background-color: #00ac81;
}

li:active {
  background-color: #225277;
}

section#game_canvas {
  background-color: #347bb2;
  background-image: linear-gradient(to bottom left, blue, white);
  
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhyme_card {
  background-color: white;
  width: 35%;
  height: 275px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
}

.rhyme_card.correct {
  animation: shake 0.72s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  background-color: lightgreen;
}

.rhyme_card.incorrect {
  animation: shake 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  background-color: red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -2px, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 3px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, -3px, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 3px, 0);
  }
}

.rhyme {
  font-size: 30px;
}

.rhyme_count {
  display: flex;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: lightgray;
  transition: all 1s;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.rhyme_count.correct {
  background-color: green;
}

.rhyme_count.incorrect {
  background-color: maroon;
}

.rhyme_count span {
  margin-left: 10px;
}

#rhyme_guess {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: all 1s;
  background-color: rgb(224, 222, 222);
}
#incorrect {
  font-size: 15px;
  text-align: center;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(204, 0, 0)
  
}

#hint {
  font-size: 15px;
  text-align: center;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

#rhyme_guess.correct {
  background-color: lightgreen;
}

#rhyme_guess.incorrect {
  background-color: red;
}

#rhyme_number{
  padding-left: 10px;
}

.title{
  padding-right: 65%;
  font-weight: bold;
  font-size: 52px;
  font-family: sans-serif;
}